@import "../../app.scss";
.aboutme{
    background: linear-gradient(180deg,#111132,#0c0c1d);    
    .wrapper{
        max-width: 1366px;
        height: 100%;
        
        margin: auto;
        display: flex;
        justify-content: space-between;
        

        @include mobile{
            flex-wrap: wrap;
        }
        .titleContainer{
             margin: 20px; 
            width: 50%;
             margin-top: 80px;
            align-items: center;

            @include mobile{
                flex-direction: column;
                width: 100%;
                text-align: center;
            }
            p{
                margin-top: 50px;
                font-weight: 200;
                font-size: 20px;
                letter-spacing: 2.4px;
                text-align: left;
             }
    
            h1{
                
                font-size: 86px;
                font-weight: 100;
            }
    
            button{
                width: 150px;
                height: 60px;
                border-radius: 10px;
                background-color: orange;
                border: none;
                font-size: 24px;
                cursor: pointer;
                margin-top: 10px;
                margin-left: 10px;
                
            }
        }
        .skillContainer{
            margin: 10px;  
            text-align: center;
            width: 50%;
            margin-top: 80px;

            @include mobile{
                flex-direction: column;
                width: 100%;
            }
    
            h1{
                font-size: 86px;
                font-weight: 100;
            }
    
            img{
                width: 150px;
                height: 50px;
                margin-top: 50px;
                
            }
    
        }

    }
    
}
