@import "../../app.scss" ;

.cursor{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border:2px dotted  rebeccapurple;
    position: fixed;
    z-index: 999;

    @include mobile{
        display: none;
    }
}